/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container {
    width: 100%;
    /* max-width: 800px;  */
    margin: 0 auto;
    /* padding: 20px; */
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row; /*Arrange content in a row*/
    justify-content: center; /* Distribute space between components */
}

.chart, .prices {
    flex: 1; /* Each component takes equal space */
    width: 100%;
    /* margin-right: 20px; Add some spacing between components */
    background-color: white;
}


.boxplot-container {
    /* border: 2px solid black; Add border styling */
    /* padding: 10px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

/* pricebar.css */

/* Style for the button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the button when hovered */
button:hover {
    background-color: #0056b3;

}

.slider-button-container {
    display: flex;
    align-items: center;
}
.slider-button-container > * {
    margin-right: 10px;
}

.slider-button-container > * {
    margin-left: 10px;
}
