
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
font-size: 2rem;
line-height: 1.6;
color: #333;
display: flex;
justify-content: center;
}

.alert-container {
margin: 15px;
display: flex;
}

.symbol-container {
width: 86px;
display: flex;
justify-content: center;
align-items: center;
}

.symbol {
font-size: 1.75rem;
}

.description-container {
font-size: 1.05rem;
margin: 15px 20px;
width: 100%;
}

.description-title {
font-weight: 700;
}