

.alert-container {
display: flex;
width: 150px;
height: 100%;
justify-content: center; 
align-items: center;
box-shadow: 0px 0px 8px #a4a2a2;
/* opacity: 0.8; */
}

.alert-text {
color: white;
font-size: 1.5rem;
text-align: center; 
display: flex; 
justify-content: center; 
align-items: center;
/* text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff */
}