/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column; /* Arrange content in a column */
}

.chart, .prices {
    width: 100%;
    margin-bottom: 20px; /* Add some spacing between components */
}

.boxplot-container {
    border: 2px solid black; /* Add border styling */
    padding: 10px; /* Add padding to create space around the boxplot */
    display: flex;
    justify-content: center;
    align-items: center;
}